<ion-content>

  <ion-card class="ion-justify-content-center" color="secondary" [routerLink]="['/listarJurado']">
    <ion-card-header class="ion-text-center">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-card-title>JURADOS</ion-card-title>
    </ion-card-header>
  </ion-card>
  <br>
  <ion-card class="ion-justify-content-center" color="secondary" [routerLink]="['/listar']">
    <ion-card-header class="ion-text-center">
      <ion-icon name="people-outline"></ion-icon>
      <ion-card-title>PARTICIPANTES</ion-card-title>
    </ion-card-header>
  </ion-card>
  <br>
  <ion-card class="ion-justify-content-center" color="secondary" [routerLink]="['/ranking']">
    <ion-card-header class="ion-text-center">
      <ion-icon name="medal-outline"></ion-icon>
      <ion-card-title>RANKING</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>