<ion-header>
  <ion-toolbar>
    <ion-title>Jurados</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="secondary" detail class="ion-text-wrap" (click)="presentModalEdit(jurado)"
      *ngFor="let jurado of jurados">
      <label>{{jurado.nome}} </label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModalAdd()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>