<ion-header>
  <ion-toolbar>
    <ion-title> VOCÊ É UM....</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-justify-content-center" color="secondary" [routerLink]="['/jurado']">
    <ion-card-header class="ion-text-center">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-card-title>JURADO</ion-card-title>
    </ion-card-header>
  </ion-card>
  <br>
  <ion-card class="ion-justify-content-center" color="secondary" [routerLink]="['/login']">
    <ion-card-header class="ion-text-center">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-card-title>ADMINISTRADOR</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>